{% extend_me %}

{% block scripts %}
    {{ super() }}
        {% if projectDetails.access_type < 4 %}
            <script>
                function get_enketo_configuration()
                {
                    $.getJSON("{{ request.route_url('enketo_get_url',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}", function( data ) {
                        if (data.status === 200 )
                        {
                            $('#enketo_url').val(data.enketo_url);
                            $('#enketo_url_copy').attr("data-clipboard-text",data.enketo_url);
                            $('#enketo_url_play').attr("href",data.enketo_url);
                            $('#enketo_url_play').attr('disabled',false);
                            $('#enketo_url_play').attr('target',"_blank");
                        }
                        else
                        {
                            swal ( "Enketo" ,  data.message ,  "error" )
                        }
                    });
                }
            </script>
        {% endif %}
{% endblock scripts %}