{% extend_me %}

{% block links_extra_content %}
    {% if enketo %}
    <hr>
    Enketo URL:<br/>
    <div class="input-group">
        <input type="text" id="enketo_url" readonly value="{{ formDetails.enketo_url }}" class="form-control">
        <span class="input-group-append">
            <a id="enketo_url_copy" class="btn btn-white btn-bitbucket clipboard" data-clipboard-text="{{ formDetails.enketo_url }}" title="{{ _('Copy to clipboard') }}"><i class="far fa-copy"></i></a>
            {% if projectDetails.access_type < 4 %}
                <a class="btn btn-white btn-bitbucket" onclick="get_enketo_configuration();" title="{{ _('Generate URL') }}"><i class="fas fa-sync-alt"></i></a>
            {% endif %}
            {% if formDetails.enketo_url  %}
                <a id="enketo_url_play" class="btn btn-white btn-bitbucket" target="_blank" href="{{ formDetails.enketo_url }}" title="{{ _('Collect data using Enketo') }}"><i class="fas fa-play"></i></a>
            {% else %}
                <a id="enketo_url_play" disabled="true" class="btn btn-white btn-bitbucket" href="#" title="{{ _('Collect data using Enketo') }}"><i class="fas fa-play"></i></a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock links_extra_content %}