{% extends 'landing/page.jinja2' %}

{% block pageheader %}
    {#    {% set in_landing = True %}#}
    {#    {% include 'landing/snippets/header.jinja2' %}#}
{% endblock pageheader %}

{% block maincontent %}
    
{% endblock maincontent %}