{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Edit thank you page') }}{% endblock titlesection %}

{% block css %}
    {{ super() }}

{% endblock css %}

{% block topScripts %}
    {{ super() }}

{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'enketo/snippets/brdcrbs_edit_thanks.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ _('Editor') }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" style="margin-right: 10px">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {{ form.display_errors(errors) }}
                    <form role="form" method="post" action="{{ request.url }}">
                        {{ form.secure_form(request) }}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ _('Content') }}</label>
                                <textarea id="editor" class="form-control editor" name="page_content">{{ page_content }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script src="{{ request.url_for_static('ckeditor/ckeditor.js','enketo_static') }}"> </script>
    <script>
        CKEDITOR.replace( 'editor', {
            height: 300,
            filebrowserUploadUrl: '{{ request.route_url("enketo_upload_image", userid=activeUser.login, projcode=projectDetails.project_code, formid=formDetails.form_id, _query={'command':'QuickUpload'})}}'
        });
    </script>


{% endblock scripts %}